{% extends 'basePage.html' %}{% load static %} {% block content %}
<!-- //header -->
<!--/w3l-banner-content-->
<div class="banner-w3l-main">
	<div class="w3l-banner-content">
		<div class="container">
			<div class="bannerhny-info text-center">
				<!-- <h6 class="title-subhny mb-2">Medical</h6> -->
				<h3></h3>
			</div>
		</div>
	</div>
	<!-- home page block1 -->
	<section class="home-services pt-lg-0"></section>
	<!-- //home page block1 -->
</div>
<!--//w3l-banner-content-->

<!-- banner bottom shape -->
<div class="position-relative">
	<div class="shape overflow-hidden">
		<svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
				fill="currentColor"
			></path>
		</svg>
	</div>
</div>
<!-- banner bottom shape -->

<!--/w3l-content-1-->

<!--//w3l-content-1-->
<!-- /w3l-content-2-->
<div class="" style="height: 20px"></div>
<!-- //w3l-content-2-->
<!-- /w3l-content-4-->

<!-- //w3l-content-4-->

<!-- stats -->
<section class="w3l-stats py-lg-0 py-5" id="stats">
	<div class="gallery-inner container py-lg-0 py-3">
		<div class="row stats-con">
			<div class="col-lg-6 col-12 stats_info counter_grid">
				<span class="fa fa-paw"></span>
				<p class="counter">1100</p>
				<h4>Happy Customers</h4>
			</div>
			<div class="col-lg-6 col-12 stats_info counter_grid1">
				<span class="fa fa-shopping-cart"></span>
				<p class="counter">1000</p>
				<h4>Services</h4>
			</div>
		</div>
	</div>
</section>
<!-- //stats -->
<!--/Blog-Posts-->

<!--//Blog-Posts-->
<!-- /w3l-content-3-->

<!-- //w3l-content-3-->
<!-- testimonials section -->
<section class="w3l-clients w3l-test pb-5" id="testimonials">
	<div class="midd-w3 py-5">
		<div class="container py-lg-5 py-md-4 pt-2 pb-lg-5">
			<div class="title-content text-center">
				<h6 class="title-subhny text-center">Happy Clients</h6>
				<h3 class="title-w3l mb-sm-5 mb-4 pb-sm-o pb-2 text-center">
					What Our Clients Say
				</h3>
				<!-- <form action="" method="post" class="signin-form" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="file" name="file" class="contact-input">
					<input type="submit" class="contact-input">
				</form> -->
			</div>
			<div id="owl-demo2" class="owl-carousel owl-theme mt-4 py-md-2 mb-md-4">
				<div class="item">
					<div class="testimonial-content">
						<div class="testimonial">
							<blockquote>
								<q>Pellen tesque libero ut justo</q>
							</blockquote>
							<p>
								Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum
								primis in faucibus orci luctus.Vivamus a ligula quam tesque et
								libero ut justo, ultrices in.
							</p>
						</div>
						<div class="bottom-info mt-4">
							<a class="comment-img" href="#url"
								><img
									src="{%static '/images/team1.jpg'%}"
									class="img-responsive"
									alt="placeholder image"
							/></a>
							<div class="people-info align-self">
								<h3>Johnson william</h3>
								<p class="identity">Example City</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-content">
						<div class="testimonial">
							<blockquote>
								<q>Lorem ipsum dolor sit amet</q>
							</blockquote>
							<p>
								Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum
								primis in faucibus orci luctus.Vivamus a ligula quam tesque et
								libero ut justo, ultrices in.
							</p>
						</div>
						<div class="bottom-info mt-4">
							<a class="comment-img" href="#url"
								><img
									src="{%static '/images/team2.jpg'%}"
									class="img-responsive"
									alt="placeholder image"
							/></a>
							<div class="people-info align-self">
								<h3>Alexander sakura</h3>
								<p class="identity">Example City</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-content">
						<div class="testimonial">
							<blockquote>
								<q>Pellen tesque libero ut justo</q>
							</blockquote>
							<p>
								Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum
								primis in faucibus orci luctus.Vivamus a ligula quam tesque et
								libero ut justo, ultrices in.
							</p>
						</div>
						<div class="bottom-info mt-4">
							<a class="comment-img" href="#url"
								><img
									src="{%static '/images/team3.jpg'%}"
									class="img-responsive"
									alt="placeholder image"
							/></a>
							<div class="people-info align-self">
								<h3>John wilson</h3>
								<p class="identity">Example City</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-content">
						<div class="testimonial">
							<blockquote>
								<q>Lorem ipsum dolor sit amet</q>
							</blockquote>
							<p>
								Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum
								primis in faucibus orci luctus.Vivamus a ligula quam tesque et
								libero ut justo, ultrices in.
							</p>
						</div>
						<div class="bottom-info mt-4">
							<a class="comment-img" href="#url"
								><img
									src="{%static '/images/team2.jpg'%}"
									class="img-responsive"
									alt="placeholder image"
							/></a>
							<div class="people-info align-self">
								<h3>Julia sakura</h3>
								<p class="identity">Example City</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-content">
						<div class="testimonial">
							<blockquote>
								<q>Pellen tesque libero ut justo</q>
							</blockquote>
							<p>
								Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum
								primis in faucibus orci luctus.Vivamus a ligula quam tesque et
								libero ut justo, ultrices in.
							</p>
						</div>
						<div class="bottom-info mt-4">
							<a class="comment-img" href="#url"
								><img
									src="{%static '/images/team3.jpg'%}"
									class="img-responsive"
									alt="placeholder image"
							/></a>
							<div class="people-info align-self">
								<h3>John wilson</h3>
								<p class="identity">Example City</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-content">
						<div class="testimonial">
							<blockquote>
								<q>Lorem ipsum dolor sit amet.</q>
							</blockquote>
							<p>
								Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum
								primis in faucibus orci luctus.Vivamus a ligula quam tesque et
								libero ut justo, ultrices in.
							</p>
						</div>
						<div class="bottom-info mt-4">
							<a class="comment-img" href="#url"
								><img
									src="{%static '/images/team2.jpg'%}"
									class="img-responsive"
									alt="placeholder image"
							/></a>
							<div class="people-info align-self">
								<h3>Julia sakura</h3>
								<p class="identity">Example City</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //testimonials section -->

{% endblock %}
